# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System
.DS_Store
Thumbs.db

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# IDE / Editors
.vscode/
.idea/
